{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="container p-relative">
    <img src="{% static 'cute-cat-laying-floor.png' %}" class="p-absolute z-index--2 pos-3d" data-layer="13" data-invert="0" width="900" height="600" style="left: 0px; top: 400px" alt />
    <div class="row">
        <div class="col-md-5">
            <div class="header-content">
                <h1 class="display-h1 noto-sans-light mb-24 d-inline-block p-relative">
                上傳你的
                <span class="noto-sans-black typing-effect" id="typing">貓咪</span>
                <span class="type-blink"></span>
                <br>
                照片試試吧！
                </h1>
                <p class="text-dark-gray mb-0 noto-sans-light">
                本網頁會使用作者訓練的模型，對您上傳的貓咪或狗狗照片進行識別，猜猜看照片中是貓咪還是狗狗。
                <br>
                - 點擊 <b>🔎 Recognize</b> 可以上傳您的照片進行識別
                <br>
                - 點擊 <b>📊 History & Metrics</b> 可以瀏覽照片識別歷史紀錄及模型效果
                <br>
                - 點擊 <b>🏠 Homepage</b> 則會回到此頁面
                </p>
                <br>
                <a href="{% url 'recognize' %}">
                    <button type="button" class="btn btn-primary px-60">
                        開始使用
                    </button>                        
                </a>
            </div>
        </div>
        <div class="col-md-5 offset-md-1">
            <img src="{% static 'cute-golden-retriever.png' %}" class="pet-image z-index--1 pos-3d" data-layer="7" data-invert="1" width="625" height="938" alt />
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.addEventListener('mousemove', (e) => {
            //傳入滑鼠位置
            document.querySelectorAll('.pos-3d').forEach((element) => {
                add3d(element, e);
        });
      });
    });
    function add3d(element, e) {
        // 滑鼠位置
        const m_x = e.pageX;
        const m_y = e.pageY;

        const w_w = window.innerWidth,
            w_h = window.innerHeight,
            o_w = element.offsetWidth,
            distance = (element.offsetWidth - w_w) / 2,
            layer = Number(element.getAttribute('data-layer')),
            invert = Number(element.getAttribute('data-invert'));

        // 物件在頁面上的位置
        const o_x = w_w / 2;
        const o_y = w_h / 2;

        // 兩者的距離差
        let w_x = m_x - o_x;
        let w_y = m_y - o_y;

        // 距離相乘後開平方
        const w_wSqrt = Math.sqrt(w_w / 2);
        const d = distance / w_wSqrt / layer;

        // 距離計算
        let s_x = Math.sqrt(Math.abs(w_x));
        if (w_x < 0) {
            s_x = -s_x;
        }

        let d_x = s_x * d;
        // 加入樣式
        element.style.transform = `translateX(${invert ? d_x : -d_x}px)`;
    }
</script>
<script>
    // 打字特效
    const texts = ['貓咪', '狗狗'];
    let count = 0;
    let index = 0;
    let currentText = '';
    let letter = '';

    (function type() {
        if (count === texts.length) {
            count = 0;
        }
        currentText = texts[count];
        letter = currentText.slice(0, ++index);

        document.getElementById('typing').textContent = letter;
        if (letter.length === currentText.length) {
            count++;
            index = 0;
            setTimeout(type, 3000);
        } else {
            setTimeout(type, 150);
        }
    })();
</script>  
{% endblock %}
