{% extends "base.html" %}

{% load static %}
{% block content %}
<div class="container p-relative">
    <div class="row justify-content-center">
        {% comment %} 
        col-md-* 是該區塊佔幾個欄位寬
        offset-md-* 是該區塊由左往右推幾個欄位寬 
        {% endcomment %}
        <div class="col-md-7" align="center">
            <div class="upload-file">
                {% comment %} 以下為彈出式視窗 {% endcomment %}
                {% comment %} Button trigger modal {% endcomment %}
                <button type="button" class="btn btn-primary px-60" data-bs-toggle="modal" data-bs-target="#uploadFile">
                    ⬆ 上傳圖片
                </button>
                {% comment %} Modal {% endcomment %}
                <div class="modal fade" id="uploadFile" tabindex="-1" aria-labelledby="uploadFileModalLabel" aria-hidden="true">
                    <form action="" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="uploadFileModalLabel">請在此上傳您的貓咪或狗狗圖片</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close"></button>
                            </div>
                            <div class="modal-body">                                
                                <div class="form-row">
                                    <div class="form-group col-md-4">
                                    </div>
                                    <div class="form-group col-md-4">
                                    </div>
                                </div>                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="cancel-btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                                <input class="submit-btn btn-primary" type="submit" value="送出" />
                            </div>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="prediction">
                {% if pred == None %}
                    <h4>您上傳圖片，我猜圖片中的動物是貓咪還是狗狗</h4>
                {% else %}
                    {% comment %} 說明：以下區塊會在 request=POST 的時候顯示，但 button 的值只有在點擊、後台 request.POST.get 到時，才會更新資料表 {% endcomment %}
                    <div class="d-flex justify-content-between">
                        <h4>我猜圖片中的動物是一隻 <b>{{ pred }}</b>，我猜對了嗎？</h4>
                        <form action="" enctype="multipart/form-data" method="POST">
                            {% csrf_token %}
                            <button class="answer-correct-btn bg-transparent" type="submit" name="correct" value="1"><i class="bi bi-check-circle-fill h3"></i></button>
                            <button class="answer-wrong-btn bg-transparent" type="submit" name="wrong" value="0"><i class="bi bi-x-circle-fill h3"></i></button>
                        </form>
                    </div>
                {% endif %}
            </div>
            <div class="show-image shadow-lg border border-1 rounded-1">
                {% comment %} 只設定 height，不設定 width，讓寬度自動按比例縮放 {% endcomment %}
                <img src="{{ photo.image.path }}" class="p-relative" height="400" style="left: 20px; right: 20px;" alt />
            </div>
            <br>
        </div>
    </div>
</div>
{% endblock %}
